GROQ_API_KEY="YOUR GROQ_API_KEY GOES HERE"
YLYTIC_API_KEY="YOUR YLYTIC_API_KEY GOES HERE"
IS_YLYTIC_MOCKED="true"  # Set to "true" if you want to mock Ylytic API calls, otherwise set to "false"
ELEVENLABS_WEBHOOK_SECRET="YOUR ELEVENLABS WEBHOOK SECRET GOES HERE"
DATABASE_URL="YOUR DATABASE_URL GOES HERE"
RESEND_API_KEY="YOUR RESEND_API_KEY GOES HERE"
DOCUSEAL_API_KEY="YOUR DOCUSEAL_API_KEY GOES HERE"
NEGOTIATION_HOST_URL="YOUR NEGOTIATION_HOST_URL GOES HERE"